{% include './MenuList.html' with menu="lo" %}

{% block content %}



<div class="col-sm-9"> 


<form class="form-horizontal" action="{% url 'list_orders' %}" method="GET" >
    {% csrf_token %}

    <h3>Filter Orders </h3>



  <div class="form-group">
    <label class="control-label col-sm-2" >Order ID contains :</label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-default " id="item_name" name="order_id" placeholder="Enter Order ID  " >
    </div>        
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" >Order Status contains:</label>
      <div class="col-xs-6">
        <input type="text" class="form-control input-default" id="item_code" name="order_status" placeholder="Order Status    " >
      </div>        
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" >Order Date contains:</label>
          <div class="col-xs-6">
            <input type="date" class="form-control input-default" id="item_code" name="order_date" placeholder="Enter Order Date  " >
          </div>        
          </div>
  
          <div class="form-group">
              <label class="control-label col-sm-2" >Order total  contains:</label>
              <div class="col-xs-6">
                <input type="text" class="form-control input-default" id="item_code" name="order_total" placeholder="Enter Order Total   " >
              </div>        
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" >Ordered by Customer contains:</label>
                <div class="col-xs-6">
                  <input type="text" class="form-control input-default" id="item_code" name="order_customer" placeholder="Enter customer name   " >
                </div>        
                </div>
  
    <div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
    
        <button type="submit" class="btn btn-primary" >Search</button>
    
      </div>
    </div>

    </form>

    <form class="form-horizontal">
    <h3>Order Details</h3>


    <table class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Order Status</th>              
            <th>Order Date</th>
            <th>Order Total</th>
            <th>Paid by Cash</th>
            <th>Paid through Online</th>
            <th>Transaction ID</th>
            <th>Ordered by Customer</th>
      

          </tr>
        </thead>
        <tbody>
          {% if orders %}

              {% for item in orders %}
              
         <tr class="edit_order">
          <td>{{ item.order_id}} </td>
          <td>{{ item.order_status}} </td>            
          <td>
            {{ item.order_date}}
          </td>
          <td>{{ item.order_total}} </td>
          <td>{{ item.cash}} </td>
          <td>{{ item.online}} </td>
          <td>{{ item.transaction_id}}</td>
          <td>{{ item.customer_mobile.customer_mobile}} </td>
         
        </tr>
              {% endfor %}    
        {% endif %}

        </tbody>
      </table>


</form>
  



      <br><br><br>
      </div>





      <br><br><br><br>

      {% endblock %}
