{% include './MenuList.html' with menu="bu" %}

{% block content %}
     
 <div class="col-sm-offset-7">

{% if user.get_username == "admin" %} 
 <a type="button" class="btn btn-primary" href="{% url 'add_bu' %}">Add BU</a>
 <a type="button" class="btn btn-primary" href="{% url 'edit_bu' %}">Edit BU</a>
 <a type="button" class="btn btn-primary" href="{% url 'delete_bu' %}">Delete BU</a>
{% endif %}

</div>

<div class="container horizontal-scrollable"> 
<h3>List Business Unit</h3>
      <div class="row text-center"> 

<table class="table table-bordered table-responsive table-striped">
<thead>
  <tr>
    <th>Business Unit Name</th>
    <th>Description</th>              
    <th>Date Added</th>
    
  </tr>
</thead>
{% if bus %}
<tbody>
      {% for bu in bus %}
 <tr>
 <td>{{ bu.name}} </td>
  <td>{{ bu.desc}} </td>            
  <td>{{ bu.date}} </td>
  
</tr>
      {% endfor %}    
</tbody>

{% endif %}

</table>

</div> 

<br><br><br><br>

</div>


{% endblock %}


